

<section>
  <article>
    <h1>Fotoblog</h1>
    <h2>Aaron Hari</h2>
  </article>
  <article>
    <section>
      <svg width="10em" height="10em" viewBox="0 0 16 16" class="bi bi-aspect-ratio" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5v-9zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
        <path fill-rule="evenodd" d="M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0v-3zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0v3z"/>
      </svg>
    </section>
    <section>
      <%= form_for :user do |u| %>
        <p><%= u.text_field :email, placeholder: "Email" %></p>
        <p><%= u.password_field :password, placeholder: "Password" %></p>
        <%= u.submit "Login" %>
      <% end %>
      <%= link_to "Create a new account!", registrations_registration_path%>
    </section>
  </article>
</section>