<a href="/../home/home" class="icon-link">
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-left icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
  </svg>
</a>

<section class="flex-container edit-section">
  <section class="flex-container reset-upload">
    <%= form_with model: @user, :html => {:class => 'form-with'}, url: update_user_path do |user| %>
      <section class="flex-container file-upload">
        <%= user.file_field :image, value: @current_user.image.url , id: "file" %>
        <label for="file"><%= image_tag @current_user.image.url, class: "image" %></label>
      </section>
      <%= user.submit "Reset image", class: "default-image form-control form-for-item" %>
      </section>


      <section class="flex-container form-for-edit">
        <%= user.text_field :username, value: @current_user.username, class: "form-for-item form-control" %>
        <article class="flex-container first-lastname">
          <%= user.text_field :firstname, value: @current_user.firstname, class: "form-for-item form-control" %>
          <%= user.text_field :lastname, value: @current_user.lastname, class: "form-for-item form-control" %>
        </article>
        <%= user.hidden_field :id, value: @current_user.id %>
        <section class="flex-container submit-and-delete">
          <%= user.submit "Delete account", data: {confirm: "Are you sure that you want to delete your account permenently? \n\r There will be no way to restore your account!"}, class: "form-for-item button delete-account" %>
          <%= user.submit "Save changes", data: {confirm: "Are you sure that you want to update your profile?"}, class: "form-for-item form-control button" %>
        </section>
      </section>

    <% end %>

    </section>

<%= render 'layouts/footer' %>